*{
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
letter-spacing: .07em;
}

body{
    display: flex;
    flex: auto;
    padding: 0;
    margin: 0;
}

main{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

header{
    align-content: center;
    justify-content: center;
    display: flex;
    flex: auto;
    top: 0;
    width: 100%;
    margin: auto;     
}

.container-fluid{
    margin: 0;
    min-width: 100%;
    min-height: 100%;
}
.container{
    margin: 10px auto;
    flex: auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;

}

#giphy-input{
    border-radius: 10px;
    width: 95%;
}

.giphy-embed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 240px;
    height: 180px;
    margin: 2px;
}
.polaroid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px

}

button{
    margin: 10px 0;
    height: 70px;
    border-radius: 12px;
    padding: 10px 24px;
}

.buttonContainer{
    position: fixed;
    width: inherit;
    z-index: 100;
    border: solid 2px;
    border-radius: 12px;
    margin: auto;
}
.imgBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 4px;
}
.btnDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    padding: 5px;
}

.btnBtn{
    text-align: center;
    background-color: white;
    color:  #763626
}

#giphy-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2{
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.giphyContainerBox{
    display: flex;
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.giphyContainer{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.selectedButtonsContainer{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}


.buttonContainerBox{
    display: flex;
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 auto;
    top: 0;
}

.containerofButtons{
    display: flex;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    flex: auto;
}



.BtnHeader{
    align-content: center;
    justify-content: center;
    display: flex;
    flex: auto;
    top: 0;
    width: 100%;
    margin: auto;
    
}

footer{
    display: flex;
    flex: auto;
    bottom: 0;
    justify-content: center;
    width: 85%;
    margin: auto;
}


.preSelectedButtons{
    display: flex;
    width: 100%;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.color0 { color: #90AFC5 }	
.color1 { color: #336B87 }
.color2 { color: #2A3132 }
.color3 { color: #763626 }

.color0back { background-color: #90AFC5 }	
.color1back { background-color: #336B87 }
.color2back { background-color: #2A3132 }
.color3back { background-color: #763626 }
